#navbar {
    background: none;
    font-family: 'Josefin Sans', sans-serif;
}
#navbar .navbar-brand {
    font-size: 1.75rem;
    color: #f8f9fa;
    font-weight: 700;
}
#navbar .nav-link {
    font-size: 1.4rem;
}
#navbar .nav-link:hover {
    font-size: 1.4rem;
    color: #f8f9fa;
}